<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmolVLM</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>SmolVLM</h1>
    </div>
    
    <div class="container">
        <div class="form-container left-form">
            <h2 class="form-title">Описать картинку</h2>
            <form id="describe-form">
                <button type="submit" class="btn">Узнать</button>
            </form>
        </div>
        
        <div class="form-container right-form">
            <h2 class="form-title">Задать вопрос</h2>
            <form id="question-form">
                <div class="form-group">
                    <input type="text" id="right-prompt" placeholder="Запрос">
                </div>
                <button type="submit" class="btn">Узнать</button>
            </form>
        </div>
    </div>

    <button type="submit" class="btn" onclick="openUploadModal()">Загрузить</button>
    <div id="upload-modal" class="modal">
        <div class="form-container">
            <h2 class="form-title">Загрузить картинку</h2>
            <form id="upload-form">
                <div class="form-group">
                    <input type="text" id="image-url" placeholder="Ссылка на картинку">
                </div>
                <button type="submit" class="btn">Загрузить</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
    <div class="foot">
        <h1 id="result">Ответ</h1>
    </div>
</html>
